#image-coffee {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 65%;
}

#image-cb-john-doe {
    display: block;
    margin: 0 auto;
}

.cb-text {
    line-height: 60px;
    font-size: 60px;
    text-decoration: underline;
}