header{
    padding: 0.1%;
    color: yellow;
    background-color: SteelBLue;
    text-align:center;
}

#top_buttons{
    display:flex;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.button1{
    margin-right: 1%;
    margin-left:1%;
    font-family: verdana;
    font-size: large;
    background-color: transparent;
    border: none;
}

.button1:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}

#search{
    height: 3%;
    width: 3%;
    margin-left:70%;
}

#searchbar{
    border-radius: 10px;
}

#menu{
    height: 3%;
    width: 3%;
}

#table{
    font-family: arial;
    width: 90%;
    margin-top:3%;
    margin-left:2%;
    border-spacing: 10%;

}

td{
    border: 1px solid #dddddd;
    padding:10px !important;
}

th {
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#infinity_rank{
    height:10%;
    width: 10%;
}