.row1col1 {
    margin-left: 50%;
}

.row1col2 {
    margin-left: 50%;
}

.row1col3 {
    margin-left: 50%;
}

.row2col1 {
    margin-left: 50%;
}

.row2col2 {
    margin-left: 50%;
}

.row2col3 {
    margin-left: 50%;
}

.score {
    margin-left: 100%;
    margin-bottom:0%;
}