#image-tb {
    display: block;
    float: left;
    position: relative; 
    right: 50%;
}
.row1-col1 {
    clear: left; 
    float: left; 
    position: relative; 
    left: 50%;
}

.row1-col2 {
    clear: left; 
    float: left; 
    position: relative; 
    left: 50%;
}

.row1-col3 {
    clear: left; 
    float: left; 
    position: relative; 
    left: 50%;
}

.row2-col1 {
    clear: left; 
    float: left; 
    position: relative; 
    left: 50%;
}
.score {
    margin-left: 100%;
    vertical-align: bottom;
}